<div class="container">
    <!--searsh-->
    <div class="wrapper fadeInDown mt-5 pt-5">
        <div id="formContent">
            <div class="position-relative">
                <input type="text" id="search" class="fadeIn fourth" name="searsh" placeholder="Searsh" />
                <button class="add">
          <img class="addbtn" src="../../assets/search (1).png" alt="" />
        </button>
            </div>
        </div>
    </div>
    <!--user card groupe-->

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 pt-5">
        <div *ngFor="let user of users" class="col">
            <div class="card h-100" style="width: 18rem">
                <img src="../../assets/1.jpg" class="card-img-top" alt="Card image cap " />
                <div class="card-body">
                    <h5 class="card-title">FirstName</h5>
                    <h4 class="card-title">LastName</h4>
                    <p class="card-text">PhoneNumber</p>
                    <div id="formFooter ">
                        <input type="button" class="fourth" routerLink="/otherUserProfile" value="Show " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>