

.testimonial {
    padding-top: 100px;
  }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 300px;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }

  .small-container {
    max-width: 1080px;
    margin: auto;
   
    padding-left: 25px;
    padding-right: 25px;
  }  
  
@media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
    .single-product .row {
      text-align: left;
    }
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h2 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
}
.small-img-row {
    display: flex;
    justify-content: space-between;
  }
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  .cart-page {
    margin: 30px auto;
  }
  
.row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
    
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background-color: #563434; 
    color: #fff;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .header .row {
    margin-top: 20px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  .col-3 h5{
    font-size: 25px;
  }
  
  .col-3 img {
    width: 100%;
    height: 100%;
  }
  .rating .fa {
    color: #ff523b;
  }
  
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
  }
  
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }







  
.classml {
  margin-left: 2%;
}

.classmr {
  margin-right: 2%;
}

.topVideo {
  border-radius: 20px;
  background-color: black;
  opacity: 0.8;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 24%;
  left: 29%;
  color: white;
}

p {
  text-align: justify;
}

.imageLogo {
  margin-left: 25%;
}

.btn {
  border-radius: 5px;
  border: 1px solid;
  background-color: #680c0d;
  color: white;
  height: 50px;
  width: 150px;
}

.btn:hover {
  background-color: crimson;
  color: whitesmoke;
}

span {
  font-weight: bold;
  color: #680c0d;
}

