<div class="container mt-5 pt-5">
    <p>homeafterlogin works!</p>
    <h1>{{ email }}</h1>
    <h1>{{ dataReceived }}</h1>

    <!------ les foundateurs de SportsLand  ------>
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>

                    <p>
                        IT Engineer who contributed to the evolution of SportsLand with his investement and ressources
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="../assets/firas.jpg" alt="" />
                    <h3>Yahyaoui Firas</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>

                    <p>
                        ICT engineering student at Sup'Com, the owner of SportsLand and the creator of SportsLand's website.
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="../assets/omar.jpg" alt="" />
                    <h3>Trigui Omar</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>

                    <p>
                        Co-Founder of SportsLand and resposible of Creating and implementing plans to increase market share .
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="../assets/tira.jpg" alt="" />
                    <h3>Tira Mouadh</h3>
                </div>
            </div>
        </div>
    </div>
</div>