<!--job card group-->
<div class="container mb-5">
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 pt-5" *ngIf="allJobs && allJobs.length">
    <div *ngFor="let job of allJobs; let indexOfelement = index" class="col">
      <div class="card h-100" style="width: 18rem">
        <img [src]="job.jobImageUrl" class="card-img-top" alt="Card image cap " />
        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <h4 class="card-title">{{ job.industry }}</h4>
          <p class="card-text">{{ job.price }} $</p>
          <div id="formFooter ">
            <input type="button" class="fourth" data-bs-toggle="modal" href="#exampleModalToggle"
              (click)="seeapplicationsforthisjob(job.jobId)" value="Detail " />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
