
  <!--job card group-->
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 pt-5" *ngIf="allApplications && allApplications.length" >
    <div *ngFor="let job of allApplications;let indexOfelement=index;" class="col">
      <div class="card h-100" style="width: 18rem">
        <img src="../assets/jobimage.jpg" class="card-img-top" alt="Card image cap " />
        <div class="card-body">
          
          <h5 class="card-title">{{job.description}}</h5>
          
          <!--p class="card-text">{{job.price}} $</p-->
          <div id="formFooter ">
            <input type="button" class="fourth" 
            routerLink="/viewsingleapplication"   value="Detail " />

          </div>
          
        </div>
      </div>
    </div>
  </div>

  <h1>gklznlkenlkzeq,gml,vmlze,gmlvd</h1>