<!-- video -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="carousel-inner embed-responsive">
    <div class="carousel-item active">
        <video class="image-fluid vd w-100" autoplay preload loop muted src="../../assets/Putting stuff in a backpack.mp4"></video>
        <div class="wrapper topVideo d-flex align-items-center justify-content-center">
            <h1 class="typedText">
                Welcome <span class="auto-typed typedText"></span>
            </h1>
        </div>
    </div>
</div>
<!-- label -->

<!-- description of khadamni -->
<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row mt-5 pt-5 mb-5 pb-5">
        <div class="col-6">
            <div class="mb-3 pb-3">
                <h1>What is <span>KHADAMNI?</span></h1>
            </div>
            <div class="container">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea corrupti delectus quo illo doloremque ipsum, distinctio ad adipisci atque explicabo inventore amet rerum fuga omnis eveniet quis sequi iusto aperiam ducimus? Aut commodi error cum numquam quo
                    debitis minus hic ad sed consequatur nesciunt rerum, dolores obcaecati maxime eaque exercitationem?
                </p>

                <div *ngIf="!userLogin" class="container mt-5">
                    <button class="btn shadow-none classmr" routerLink="/signUp">
            Get Started
          </button>
                    <button class="btn shadow-none classml" routerLink="/login">
            Login
          </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img class="imageLogo" src="../assets/blacklogo.png" alt="" />
        </div>
    </div>
</div>

<!------ les foundateurs de SportsLand  ------>
<h1 class="title">Contact Us</h1>
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>

                <p>
                    IT Engineer who contributed to the evolution of SportsLand with his investement and ressources
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="../assets/firas.jpg" alt="" />
                <h3>Yahyaoui Firas</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>

                <p>
                    ICT engineering student at Sup'Com, the owner of SportsLand and the creator of SportsLand's website.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="../assets/omar.jpg" alt="" />
                <h3>Trigui Omar</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>

                <p>
                    Co-Founder of SportsLand and resposible of Creating and implementing plans to increase market share .
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="../assets/tira.jpg" alt="" />
                <h3>Tira Mouadh</h3>
            </div>
        </div>
    </div>
</div>

<!--slide
    -->
<!--slide-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/work1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="../assets/work2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="../assets/work3.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>