<!--nav-->
<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)" *ngIf="!islogedin" routerLink="/home"><img class="logo"
        src="../../assets/whitelogo.png" alt="" /></a>

    <a class="navbar-brand" href="javascript:void(0)" *ngIf="islogedin" routerLink="/home"><img class="logo"
        src="../../assets/whitelogo.png" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <div *ngIf="!islogedin" class="navbar-nav navbar-right">
        <button class="btn btn-submit btnsignup shadow-none" id="signUp" routerLink="/signUp">
          Sign UP
        </button>
        <button class="btn btn-submit btnsignin shadow-none" id="signIn" routerLink="/login">
          Sign In
        </button>
      </div>

      <ul *ngIf="islogedin" class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link page" href="javascript:void(0)" routerLink="/FindJob"><img class="icon"
              src="../../assets/job.png" type="icon" alt="" /> FIND JOB</a>
        </li>

        <li class="nav-item">
          <a class="nav-link page" href="javascript:void(0)" routerLink="/postJob">
            <img class="icon" src="../../assets/resume.png" type="icon" alt="" /> POST JOB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page" href="javascript:void(0)" routerLink="/findUser">
            <img class="icon" src="../../assets/find-my-friend.png" type="icon" alt="" /> FIND USER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page" href="javascript:void(0)" routerLink="/findmyjobs"><img class="icon"
              src="../../assets/job.png" type="icon" alt="" />MY JOBS</a>
        </li>
      </ul>

      <form class="d-flex">
        <p class="username">
          {{ dataReceived }}
        </p>
        <div *ngIf="islogedin" class="dropdown">
          <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/user.png" class="iconProfile" alt="" *ngIf="!hasProfileImage" />
            <img [src]="currUser.profileImage" class="iconProfile" alt="" *ngIf="hasProfileImage" />
          </button>
          <!-- dropdown  -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" routerLink="/profile">My profile</a>
            </li>
            <li><a class="dropdown-item" routerLink="/profile">Settings</a></li>
            <li>
              <button class="dropdown-item" (click)="logout()">Log Out</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
