@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.logo {
    height: 50px;
}

.username {
    text-transform: capitalize;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding-top: 9%;
}

.icon {
    height: 20px;
}

.iconProfile {
    height: 40px;
}

.btnsignup {
    position: absolute;
    left: 74%;
    bottom: 20%;
}

.btnsignin {
    position: absolute;
    left: 85%;
    bottom: 20%;
}

.btn-submit {
    background: #680c0d;
    height: 47px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

nav .page {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: black;
    opacity: 0.9;
}

#signUp {
    color: #680c0d;
    background-color: white;
}

#signUp:hover {
    color: crimson;
    opacity: 0.8;
    background-color: rgb(180, 173, 168);
}

#signIn:hover {
    background-color: crimson;
    color: white;
    opacity: 0.8;
}

.btn {
    color: white;
}